.SideTrends {
  position: absolute;
  width: 28%;
  border-left: 1px solid lightgrey;
  width: 30%;
  display: none;
  right: 0;
  overflow: scroll;
  height: 100vh;
  transition: all 0.35s;
}

/* ATTENZIONE AL MOBILE FIRST */
@media screen and (min-width: 800px) {
  .SideTrends {
    display: block;
  }
}
