// Colours
$primary-color: #4b0d0d;
$secondary-color: #dfdcbe;
$active-color: #9bac4f;
$active-color_deep: #717c3f;

$primary-color-alpha: #0000008c;
$impression-color: #ffffff;

// Sizes
$general_margin: 0 20px;
