.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 120px;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  z-index: 1;
}

.Navbar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  font-weight: bold;
  list-style-type: none;
}

.Navbar ul li {
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.Navbar ul li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.Navbar input {
  margin-bottom: 20px;
  width: 300px;
  padding: 12px 24px;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  outline: none;
}

.Navbar__cart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 2rem;
}
