ul {
  padding: 0 30px;
  list-style-type: none;
}

ul li {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

ul li:hover {
  color: #01b5f1;
}

ul li img {
  width: 25px;
  height: 25px;
}
