@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(105, 90, 255);
  background: linear-gradient(
    180deg,
    rgba(105, 90, 255, 1) 0%,
    rgba(137, 48, 136, 1) 100%
  );
  font-family: "Pacifico", cursive;
}
