@import "../../styles/variables";
@import "../../styles/mixins";

.SingleItem {
  @include flex-container;
  position: fixed;
  width: 700px;
  height: 500px;
  background-color: $impression-color;
  border-radius: 18px;
  top: 230px;
  left: calc(50% - 350px);

  &__text {
    @include flex-container(column, center, center);
    width: 52%;
    height: 100%;
    padding: 0 18px;

    &--lists {
      width: 100%;
      @include flex-container(row, space-around);

      ul {
        padding: 0;
        list-style-type: none;
      }
    }
  }

  &__image {
    width: 48%;
    height: 100%;

    img {
      width: 100%;
      height: 500px;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      object-fit: cover;
    }

    &--carousel button {
      padding: 22px 0;
      width: 50%;
      height: 100%;
      border: 0;
      background-color: $active-color;
      color: $impression-color;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.35s;
      transform: translateY(-63px);

      &:hover {
        background-color: $active-color_deep;
        transform: scale(1.2) translateY(-57.5px);
      }
    }
  }
}
