.Button {
  padding: 12px 32px;
  border: 0;
  background-color: lightseagreen;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.Button:hover {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.75);
}

.disabled {
  opacity: 0.35;
  cursor: inherit;
  box-shadow: inherit;
}

.disabled:hover {
  box-shadow: inherit;
}
