.Modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

.Modal__content {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 12px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
}

.Modal__content--btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}
