body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body h1 {
  color: rgb(105, 182, 28);
}

.wrapper {
  display: flex;
  gap: 20px;
  padding: 60px;
  border-radius: 12px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
}

.age-status-bar {
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  height: 450px;
  width: 60px;
  transform: rotate(180deg);
}

.age-status-bar__status {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(195, 254, 137);
  width: 100%;
  transition: all 0.35s;
}

.age-status-bar h4 {
  width: 60px;
  position: absolute;
  bottom: -40px;
  color: rgb(105, 182, 28);
  font-weight: bold;
  font-size: 0.9rem;
  transform: rotate(180deg);
}
