.FullInput {
  display: flex;
  gap: 10px;
}

.FullInput input:nth-child(1) {
  padding: 8px 8px 8px 16px;
  border: 0;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  color: rgb(105, 90, 255);
}

.FullInput input:nth-child(2) {
  padding: 8px;
  border: 0;
  width: 100px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  color: rgb(105, 90, 255);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.35s;
}

.FullInput input:nth-child(2):hover {
  background-color: rgb(105, 90, 255);
  color: white;
}
