@import "../../styles/mixins";
@import "../../styles/variables";

.Reservation {
  position: fixed;
  height: 100vh;
  width: 100vw;
  text-align: center;
  z-index: 1;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color-alpha;
  }

  .content {
    position: fixed;
    top: 25vh;
    left: 5%;
    height: 50vh;
    width: 90%;
    border-radius: 12px;
    background-color: $impression-color;
    animation: fadeIn 1.35s ease 0s;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 20px 30px;

      input {
        width: 260px;
        height: 30px;
        border: 0;
        border-bottom: 1px solid $active-color;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .contentFadeOut {
    animation: fadeOut 1.35s ease 0s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
