.Card {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: transform 0.35s;

  &:hover {
    transform: scale(0.9);
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
