.SideMenu {
  position: fixed;
  flex-direction: column;
  align-items: start;
  width: 25%;
  height: 100vh;
  border-right: 1px solid lightgrey;
  background-color: white;
  font-weight: bold;
  font-size: 0.9rem;
  display: none;
}

.SideMenu button {
  align-self: center;
  width: 80%;
  padding: 12px 24px;
  border: 0;
  background-color: #01b5f1;
  color: white;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .SideMenu {
    display: flex;
  }
}
