.Day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  color: gray;
  cursor: pointer;
}

.active {
  background-color: aquamarine;
}
